# Stock Market Data Scraping

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import yfinance as yf
import datetime as dt
from datetime import date, timedelta
import plotly.graph_objects as go
import plotly.express as px
#import ad fuller
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.seasonal import seasonal_decompose
#import srimax
from statsmodels.tsa.statespace.sarimax import SARIMAX

In [15]:
def print_heading(heading):
    print("-"*60)
    print(heading.upper())
    print("-"*60)

In [18]:
today = date.today()
d1 = today.strftime("%Y-%m-%d")
end_date = d1
d2 = date.today() - timedelta(days=365)
d2 = d2.strftime("%Y-%m-%d")
start_date = d2
print_heading("Start and End Dates")
start_date, end_date

------------------------------------------------------------
START AND END DATES
------------------------------------------------------------

('2023-02-10', '2024-02-10')

In [20]:
ticker = 'GOOGL'
df = yf.download(ticker, start=start_date, end=end_date, progress=False)
df.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2023-02-10  95.449997  96.750000  94.250000  94.570000  94.570000  54980700
2023-02-13  94.739998  95.199997  93.839996  94.610001  94.610001  50076100
2023-02-14  94.430000  94.849998  92.260002  94.680000  94.680000  54726100
2023-02-15  94.489998  97.120003  94.150002  96.940002  96.940002  50169000
2023-02-16  95.370003  97.680000  94.739998  95.510002  95.510002  42462600

In [21]:
# df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 251 entries, 2023-02-10 to 2024-02-09
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       251 non-null    float64
 1   High       251 non-null    float64
 2   Low        251 non-null    float64
 3   Close      251 non-null    float64
 4   Adj Close  251 non-null    float64
 5   Volume     251 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 13.7 KB